In [1]:
import pandas as pd

In [3]:
dt = pd.read_csv('C:/Users/1102j/anaconda/dataScience/project/apt_data_heating.csv', encoding='euckr')

In [5]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14540 entries, 0 to 14539
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         14540 non-null  object
 1   번지          14540 non-null  object
 2   본번          14540 non-null  int64
 3   부번          14540 non-null  int64
 4   단지명         14540 non-null  object
 5   전월세구분       14540 non-null  object
 6   전용면적(㎡)     14540 non-null  float64
 7   계약년월        14540 non-null  int64
 8   계약일         14540 non-null  int64
 9   보증금(만원)     14540 non-null  object
 10  월세(만원)      14540 non-null  int64
 11  층           14540 non-null  int64
 12  건축년도        14540 non-null  int64
 13  도로명         14540 non-null  object
 14  위도          14540 non-null  float64
 15  경도          14540 non-null  float64
 16  초등학교        14540 non-null  float64
 17  병원          14540 non-null  float64
 18  공원          14540 non-null  float64
 19  역거리(m)      14540 non-null  float64
 20  대형마트        14540 non-null  float64
 21  백화점         14540 non-null  float64
 22  영화관         14540 non-null  float64
 23  cctv        14207 non-null  float64
 24  주차대수        14207 non-null  float64
 25  세대수         14238 non-null  float64
 26  난방방식        13201 non-null  object
 27  단지명(K-apt)  13201 non-null  object
dtypes: float64(13), int64(7), object(8)
memory usage: 3.1+ MB

In [8]:
m = dt[dt['전월세구분'] == '월세']

In [9]:
y = dt[dt['전월세구분'] == '전세']

In [10]:
m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4002 entries, 0 to 14539
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         4002 non-null   object
 1   번지          4002 non-null   object
 2   본번          4002 non-null   int64
 3   부번          4002 non-null   int64
 4   단지명         4002 non-null   object
 5   전월세구분       4002 non-null   object
 6   전용면적(㎡)     4002 non-null   float64
 7   계약년월        4002 non-null   int64
 8   계약일         4002 non-null   int64
 9   보증금(만원)     4002 non-null   object
 10  월세(만원)      4002 non-null   int64
 11  층           4002 non-null   int64
 12  건축년도        4002 non-null   int64
 13  도로명         4002 non-null   object
 14  위도          4002 non-null   float64
 15  경도          4002 non-null   float64
 16  초등학교        4002 non-null   float64
 17  병원          4002 non-null   float64
 18  공원          4002 non-null   float64
 19  역거리(m)      4002 non-null   float64
 20  대형마트        4002 non-null   float64
 21  백화점         4002 non-null   float64
 22  영화관         4002 non-null   float64
 23  cctv        3879 non-null   float64
 24  주차대수        3879 non-null   float64
 25  세대수         3886 non-null   float64
 26  난방방식        3553 non-null   object
 27  단지명(K-apt)  3553 non-null   object
dtypes: float64(13), int64(7), object(8)
memory usage: 906.7+ KB

In [11]:
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10538 entries, 18 to 14538
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         10538 non-null  object
 1   번지          10538 non-null  object
 2   본번          10538 non-null  int64
 3   부번          10538 non-null  int64
 4   단지명         10538 non-null  object
 5   전월세구분       10538 non-null  object
 6   전용면적(㎡)     10538 non-null  float64
 7   계약년월        10538 non-null  int64
 8   계약일         10538 non-null  int64
 9   보증금(만원)     10538 non-null  object
 10  월세(만원)      10538 non-null  int64
 11  층           10538 non-null  int64
 12  건축년도        10538 non-null  int64
 13  도로명         10538 non-null  object
 14  위도          10538 non-null  float64
 15  경도          10538 non-null  float64
 16  초등학교        10538 non-null  float64
 17  병원          10538 non-null  float64
 18  공원          10538 non-null  float64
 19  역거리(m)      10538 non-null  float64
 20  대형마트        10538 non-null  float64
 21  백화점         10538 non-null  float64
 22  영화관         10538 non-null  float64
 23  cctv        10328 non-null  float64
 24  주차대수        10328 non-null  float64
 25  세대수         10352 non-null  float64
 26  난방방식        9648 non-null   object
 27  단지명(K-apt)  9648 non-null   object
dtypes: float64(13), int64(7), object(8)
memory usage: 2.3+ MB

In [12]:
m.to_csv('m.csv', index=False, encoding='euckr')
y.to_csv('y.csv', index=False, encoding='euckr')

In [13]:
m = pd.read_csv('C:/Users/1102j/anaconda/dataScience/project/m.csv', encoding='euckr')
y = pd.read_csv('C:/Users/1102j/anaconda/dataScience/project/y.csv', encoding='euckr')
m

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,전월세(만원),...,대형마트,백화점,cctv,주차대수,브랜드,주차관제,승강기,복도유형,난방방식,단지명(K-apt)
0,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202001,6,20500,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
1,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202007,9,20500,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
2,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202008,6,20500,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
3,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202008,21,16000,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
4,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202009,7,20000,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,서울특별시 노원구 하계동,270,270,0,현대,월세,72.20,202009,10,31000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성
3998,서울특별시 노원구 하계동,270,270,0,현대,월세,72.20,202009,10,31000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성
3999,서울특별시 노원구 하계동,270,270,0,현대,월세,84.95,202010,10,41400,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성
4000,서울특별시 노원구 하계동,270,270,0,현대,월세,84.95,202011,23,39500,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성
4001,서울특별시 노원구 하계동,270,270,0,현대,월세,84.95,202012,23,38500,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성

In [14]:
y

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,전월세(만원),...,대형마트,백화점,cctv,주차대수,브랜드,주차관제,승강기,복도유형,난방방식,단지명(K-apt)
0,서울특별시 노원구 공릉동,404-3,404,3,건영아파트,전세,84.75,202007,18,34000,...,0.88,3.54,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
1,서울특별시 노원구 공릉동,744,744,0,건영장미아파트,전세,84.88,202002,8,35000,...,1.24,3.18,37.0,219.0,0,0.0,5.0,0.0,개별난방,공릉건영장미
2,서울특별시 노원구 공릉동,744,744,0,건영장미아파트,전세,84.88,202007,1,40000,...,1.24,3.18,37.0,219.0,0,0.0,5.0,0.0,개별난방,공릉건영장미
3,서울특별시 노원구 공릉동,744,744,0,건영장미아파트,전세,59.87,202007,11,27000,...,1.24,3.18,37.0,219.0,0,0.0,5.0,0.0,개별난방,공릉건영장미
4,서울특별시 노원구 공릉동,744,744,0,건영장미아파트,전세,59.87,202007,13,28000,...,1.24,3.18,37.0,219.0,0,0.0,5.0,0.0,개별난방,공릉건영장미
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10533,서울특별시 노원구 하계동,270,270,0,현대,전세,84.95,202010,29,60000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성
10534,서울특별시 노원구 하계동,270,270,0,현대,전세,84.95,202011,7,42000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성
10535,서울특별시 노원구 하계동,270,270,0,현대,전세,84.95,202012,2,65000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성
10536,서울특별시 노원구 하계동,270,270,0,현대,전세,84.95,202012,9,37800,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성
10537,서울특별시 노원구 하계동,270,270,0,현대,전세,71.68,202012,22,45000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성

In [15]:
m.난방방식 = m.난방방식.replace('개별난방', 1)
m.난방방식 = m.난방방식.replace('지역난방', 0)
m.난방방식 = m.난방방식.replace('중앙난방', 0)

y.난방방식 = y.난방방식.replace('개별난방', 1)
y.난방방식 = y.난방방식.replace('지역난방', 0)
y.난방방식 = y.난방방식.replace('중앙난방', 0)

In [16]:
m

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,전월세(만원),...,대형마트,백화점,cctv,주차대수,브랜드,주차관제,승강기,복도유형,난방방식,단지명(K-apt)
0,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202001,6,20500,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
1,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202007,9,20500,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
2,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202008,6,20500,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
3,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202008,21,16000,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
4,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202009,7,20000,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,서울특별시 노원구 하계동,270,270,0,현대,월세,72.20,202009,10,31000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,0.0,하계현대우성
3998,서울특별시 노원구 하계동,270,270,0,현대,월세,72.20,202009,10,31000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,0.0,하계현대우성
3999,서울특별시 노원구 하계동,270,270,0,현대,월세,84.95,202010,10,41400,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,0.0,하계현대우성
4000,서울특별시 노원구 하계동,270,270,0,현대,월세,84.95,202011,23,39500,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,0.0,하계현대우성
4001,서울특별시 노원구 하계동,270,270,0,현대,월세,84.95,202012,23,38500,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,0.0,하계현대우성

In [17]:
y

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,전월세(만원),...,대형마트,백화점,cctv,주차대수,브랜드,주차관제,승강기,복도유형,난방방식,단지명(K-apt)
0,서울특별시 노원구 공릉동,404-3,404,3,건영아파트,전세,84.75,202007,18,34000,...,0.88,3.54,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
1,서울특별시 노원구 공릉동,744,744,0,건영장미아파트,전세,84.88,202002,8,35000,...,1.24,3.18,37.0,219.0,0,0.0,5.0,0.0,1.0,공릉건영장미
2,서울특별시 노원구 공릉동,744,744,0,건영장미아파트,전세,84.88,202007,1,40000,...,1.24,3.18,37.0,219.0,0,0.0,5.0,0.0,1.0,공릉건영장미
3,서울특별시 노원구 공릉동,744,744,0,건영장미아파트,전세,59.87,202007,11,27000,...,1.24,3.18,37.0,219.0,0,0.0,5.0,0.0,1.0,공릉건영장미
4,서울특별시 노원구 공릉동,744,744,0,건영장미아파트,전세,59.87,202007,13,28000,...,1.24,3.18,37.0,219.0,0,0.0,5.0,0.0,1.0,공릉건영장미
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10533,서울특별시 노원구 하계동,270,270,0,현대,전세,84.95,202010,29,60000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,0.0,하계현대우성
10534,서울특별시 노원구 하계동,270,270,0,현대,전세,84.95,202011,7,42000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,0.0,하계현대우성
10535,서울특별시 노원구 하계동,270,270,0,현대,전세,84.95,202012,2,65000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,0.0,하계현대우성
10536,서울특별시 노원구 하계동,270,270,0,현대,전세,84.95,202012,9,37800,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,0.0,하계현대우성
10537,서울특별시 노원구 하계동,270,270,0,현대,전세,71.68,202012,22,45000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,0.0,하계현대우성

In [18]:
m.to_csv('month.csv', index=False, encoding='euckr')
y.to_csv('year.csv', index=False, encoding='euckr')

In [19]:
m = pd.read_csv('C:/Users/1102j/anaconda/dataScience/project/m.csv', encoding='euckr')
y = pd.read_csv('C:/Users/1102j/anaconda/dataScience/project/y.csv', encoding='euckr')
m

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,전월세(만원),...,대형마트,백화점,cctv,주차대수,브랜드,주차관제,승강기,복도유형,난방방식,단지명(K-apt)
0,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202001,6,20500,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
1,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202007,9,20500,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
2,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202008,6,20500,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
3,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202008,21,16000,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
4,서울특별시 노원구 공릉동,683-30,683,30,(683-30),월세,20.00,202009,7,20000,...,1.49,4.33,37.0,219.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3997,서울특별시 노원구 하계동,270,270,0,현대,월세,72.20,202009,10,31000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성
3998,서울특별시 노원구 하계동,270,270,0,현대,월세,72.20,202009,10,31000,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성
3999,서울특별시 노원구 하계동,270,270,0,현대,월세,84.95,202010,10,41400,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성
4000,서울특별시 노원구 하계동,270,270,0,현대,월세,84.95,202011,23,39500,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성
4001,서울특별시 노원구 하계동,270,270,0,현대,월세,84.95,202012,23,38500,...,0.46,2.11,167.0,1386.0,0,0.0,44.0,0.0,중앙난방,하계현대우성

In [34]:
dt = pd.read_csv('C:/Users/1102j/anaconda/dataScience/project/nowon_apt.csv', encoding='euckr')
dt

,시도,시군구,읍면,동리,단지코드,단지명,단지분류,법정동주소,도로명주소,분양형태,...,승강기(기타),총주차대수,지상주차대수,지하주차대수,CCTV대수,"주차관제, 홈네트워크",관리사무소 주소,관리사무소 연락처,관리사무소 팩스,부대복리시설
0,서울특별시,노원구,NaN,상계동,A13920207,상계1차중앙하이츠,아파트,서울특별시 노원구 상계동 1279 상계1차중앙하이츠,서울특별시 노원구 노원로28길 15,분양,...,0.0,460.0,216.0,244.0,48.0,무,서울시 노원구 노원로 28길 15,029511619,263161619.0,"관리사무소, 노인정, 주민공동시설, 어린이놀이터, 자전거보관소"
1,서울특별시,노원구,NaN,상계동,A13920209,상계중앙하이츠2차,아파트,서울특별시 노원구 상계동 1282 상계중앙하이츠2차,서울특별시 노원구 노원로 428,분양,...,0.0,882.0,147.0,735.0,102.0,무,노원구 노원로428,029308339,262238339.0,"관리사무소, 노인정, 보육시설, 어린이놀이터, 자전거보관소"
2,서울특별시,노원구,NaN,상계동,A13920506,상계벽산,아파트,서울특별시 노원구 상계동 173-1 상계벽산,서울특별시 노원구 한글비석로 396,분양,...,0.0,583.0,328.0,255.0,145.0,무,서울특별시 노원구 한글비석로 396,029395543,262253213.0,"관리사무소, 노인정, 어린이놀이터, 휴게시설, 자전거보관소"
3,서울특별시,노원구,NaN,상계동,A13920703,상계주공5단지,아파트,서울특별시 노원구 상계동 721 상계주공5단지,서울특별시 노원구 동일로216길 47,분양,...,NaN,340.0,340.0,0.0,16.0,NaN,서울특별시 동일로 216길 47,029311005,29313636.0,"관리사무소, 노인정, 어린이놀이터, 자전거보관소"
4,서울특별시,노원구,NaN,상계동,A13920706,상계주공4단지,아파트,서울특별시 노원구 상계동 749-5 상계주공4단지,서울특별시 노원구 동일로 1362,분양,...,0.0,1502.0,1477.0,25.0,132.0,무,서울시 노원구 동일로214길21,029317772,29524034.0,"관리사무소, 노인정, 어린이놀이터, 자전거보관소"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,서울특별시,노원구,NaN,월계동,A10024636,세양청마루,NaN,서울특별시 노원구 월계동 943 세양청마루,서울특별시 노원구 석계로13길 35,분양,...,0.0,0.0,NaN,NaN,NaN,NaN,광운로20,029142224,29142223.0,"관리사무소, 노인정"
208,서울특별시,노원구,NaN,중계동,A13986306,중계그린,아파트,서울특별시 노원구 중계동 502-1 중계그린,서울특별시 노원구 동일로207길 18,분양,...,0.0,1311.0,1311.0,0.0,208.0,무,서울시 노원구 동일로 207길17,029711064,29798161.0,"관리사무소, 노인정, 주민공동시설, 어린이놀이터"
209,서울특별시,노원구,NaN,상계동,A10024547,포레나노원 아파트,NaN,서울특별시 노원구 상계동 680 포레나노원 아파트,서울특별시 노원구 노원로38길 76,임대+분양,...,0.0,1385.0,0.0,1385.0,370.0,유,서울시 노원구 노원로38길 76,0233924938,233924940.0,"관리사무소, 노인정, 보육시설, 주민공동시설, 어린이놀이터, 휴게시설, 커뮤니티공간..."
210,서울특별시,노원구,NaN,상계동,A10024778,상계중앙하이츠아파트,아파트,서울특별시 노원구 상계동 1068 상계중앙하이츠아파트,서울특별시 노원구 동일로231길 72,분양,...,0.0,124.0,67.0,57.0,16.0,무,NaN,029376951,NaN,"관리사무소, 노인정, 어린이놀이터, 자전거보관소"
211,서울특별시,노원구,NaN,상계동,A13920202,상계코오롱,아파트,서울특별시 노원구 상계동 1281 상계코오롱,서울특별시 노원구 노원로26가길 25,분양,...,0.0,222.0,155.0,67.0,29.0,무,서울 노원구 노원로26가길 7,0233913360,233913362.0,"관리사무소, 노인정, 어린이놀이터"

In [35]:
dt['일반관리-인원']

0       5.0
1       7.0
2      12.0
3       6.0
4      18.0
       ...
207     1.0
208    27.0
209    10.0
210     2.0
211     4.0
Name: 일반관리-인원, Length: 212, dtype: float64

In [36]:
data = pd.DataFrame()
data

Empty DataFrame
Columns: []
Index: []

In [37]:
data['단지명(K-apt)'] = dt['단지명']

In [38]:
data['일반관리'] = dt['일반관리-인원']
data['경비관리'] = dt['경비관리-인원']
data['청소관리'] = dt['청소관리-인원']

In [39]:
data

     단지명(K-apt)  일반관리  경비관리  청소관리
0     상계1차중앙하이츠   5.0   6.0   4.0
1     상계중앙하이츠2차   7.0  13.0   7.0
2          상계벽산  12.0  24.0  11.0
3       상계주공5단지   6.0   0.0   5.0
4       상계주공4단지  18.0  36.0  16.0
..          ...   ...   ...   ...
207       세양청마루   1.0   NaN   NaN
208        중계그린  27.0  44.0  22.0
209   포레나노원 아파트  10.0   9.0  11.0
210  상계중앙하이츠아파트   2.0   3.0   1.0
211       상계코오롱   4.0   4.0   2.0

[212 rows x 4 columns]

In [51]:
m_merge = pd.merge(m, data, how='left', on='단지명(K-apt)')
len(m_merge)

4002

In [52]:
y_merge = pd.merge(y, data, how='left', on='단지명(K-apt)')
len(y_merge)

10538

In [56]:
m_merge.to_csv('month_nowon.csv', encoding='euckr', index=False)

In [57]:
y_merge.to_csv('year_nowon.csv', encoding='euckr', index=False)